body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:#f0f2f5 ;
}

.container {
    background-color: #ffffff;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    height: 70vh;
}

h1 {
    margin-bottom: 50px;
    font-size: 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.form-group {
    margin-bottom: 35px;
}
.form-control {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;
    font-size: 16px;
}
.form-button-container {
    text-align: right;
}
.form-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.25s;
}
#clear-btn {
    margin-right: 10px;
    background-color: rgb(86, 85, 85);
}
.form-button:hover {
    opacity: 0.8;
}
#clear-btn:hover {
    background-color: black;
}
#calculate-btn {
    text-align: left;
}
.form-group-showdata {
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}